aro-framework/src/main/resources/schemas/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.avaryuon.com/config"
	xmlns:tns="http://www.avaryuon.com/config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="application">
		<xs:sequence>
			<xs:element name="title" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="config">
		<xs:sequence>
			<xs:element name="application" type="tns:application"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

